<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>現在時刻<%=l DateTime.current %></h2>
      <%= link_to "#{@category.name}の学習を開始します",  category_records_path(@category), method: :post, "data-confirm" => "学習を開始しますか？", class: "btn btn-info" %>
    </div>
  </div>
</div>

