<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="float-right">
        <%= render "public/relationships/search_area" %>
      </div>
      <% if @users.exists? %>
        <h2>"<%= @value %>"を含むユーザー一覧</h2>
        <%= render 'public/relationships/followings', users: @users %>
      <% else %>
        <h2>"<%= @value %>"を含むユーザーはいません</h2>
      <% end %>
    </div>
  </div>
</div>