/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(47, 217, 154, 0.05);
}

.color_1 {
  background-color: rgba(228, 51, 102, 0.50);
}

.color_2 {
  background-color: rgba(0, 128, 255, 0.40);
}

.color_3 {
  background-color: rgba(204, 255, 102, 0.52);
}

.color_4 {
  background-color: rgba(153, 255, 0, 0.7);
}

.color_5 {
  background-color: rgba(153, 0, 204, 0.36);
}

.color_6 {
  background-color: rgba(255, 255, 51, 0.53);
}

.color_7 {
  background-color: rgba(255, 96, 51, 0.61);
}

.color_8 {
  background-color: rgba(204, 204, 204, 0.53);
}

.btn-success{
  background-color: rgba(0, 255, 0, 0.41);
}

.btn-success:hover{
  background-color: rgba(8, 147, 0, 0.45);
}

.btn-danger{
  background-color: rgba(255, 0, 0, 0.51);
}

.btn-danger:hover{
  background-color: rgba(185, 0, 0, 0.51);
}

